/* Styling and grid layout for all grid cells (React components). */
:root {
  --heading-background: rgb(210, 215, 225);
  --heading-text: white;
  --body-background: rgb(248, 249, 251);
  --body-background-interaction: rgb(242, 244, 246);
  --body-text-light: white;
  --body-text-dark: rgb(180, 185, 195);
  --highlight: rgb(130, 145, 170);
  --highlight-interaction: rgb(160, 175, 200);
  --content-box: white;
  --content-box-border: rgb(200, 205, 215);
}

::placeholder {
  color: var(--body-text-dark);
}

input:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: sans-serif;
  letter-spacing: 0.25px;
  margin: 25px;
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}