/* Styling and grid layout for all grid cells (React components). */
:root {
  --heading-background: rgb(210, 215, 225);
  --heading-text: white;
  --body-background: rgba(220, 225, 235, 0.2);
  --body-text-light: white;
  --body-text-dark: rgba(180, 185, 195);
  --highlight: rgb(130, 145, 170);
  --highlight-interaction: rgb(160, 175, 200);
  --content-box: white;
  --content-box-border: rgba(200, 205, 215);
  --input-textbox: rgba(220, 225, 235, 0.2);
  --input-textbox-interaction: rgba(220, 225, 235, 0.4);
}

::placeholder {
  color: var(--body-text-dark);
}

input:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: sans-serif;
  letter-spacing: 0.25px;
  margin: 25px;
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}