.MenuButton {
    width: 37px;
    position: absolute;
    z-index: 99;
}

.MenuButton-button {
    padding: 7.5px;
    background-color: var(--body-background);
    border: 1.5px solid var(--content-box-border);
    cursor: pointer;
}

.MenuButton-button:hover {
    background-color: var(--input-textbox-interaction);
}

.MenuButton-button-icon {
    display: flex;
    align-items: center;
}

.MenuButton-options {
    width: 100px;
    margin: 5px 0 0 7.5px;
}

.MenuButton-option {
    width: 100%;
    height: 25px;
    font-size: 0.75rem;
    background-color: var(--highlight);
    color: var(--body-text-light);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.MenuButton-option:not(last-of-type) {
    border-bottom: 1.5px solid var(--highlight-interaction);
}

.MenuButton-option:hover {
    background-color: var(--highlight-interaction);
}

.MenuButton-main {
    height: 100%;
    border-radius: 0 0 7.5px 7.5px;
    border: 1.5px solid var(--content-box-border);
    overflow-y: auto;
    
    display: grid;
    grid-template-rows: 50px 1fr;
    align-items: center;
}

.MenuButton-main-heading {
    width: fit-content;
    padding: 5px 7.5px;
    border-radius: 2.5px;
    text-align: center;
    font-size: 1rem;
    color: var(--body-text-light);
    background-color: var(--highlight);
}

.MenuButton-main-paragraph {
    font-size: 0.8rem;
    width: 90%;
    text-align: justify;
    margin-bottom: 10px;
    color: var(--body-text-dark);
}